@page "/"
@inject NavigationManager nav
@inject SharedEnvironmentProvider provider

<div class="text-align: center;">
    <button class="btn btn-primary" @onclick="Launch">Launch</button>
</div>

@code {
    async Task Launch()
    {
        var se = await provider.Get();
        nav.NavigateTo(se.Guid.ToString());
    }
}