@page "/{Guid:guid}"
@inject SharedEnvironmentProvider provider

@if (env is null)
{
    <p>
        Loading...
    </p>
}
else
{
    <Console OnKeyDown="OnKeyDown" OnInput="OnInput" Output="env.Output" @ref="console"></Console>
}

@code {
    [Parameter]
    public Guid Guid { get; set; }

    Shared.Console? console;

    SharedEnvironment? env;

    protected override void OnParametersSet()
    {
        env = provider.GetSharedEnvironment(Guid);
        env.Update += async (_, _) => await InvokeAsync(Update);
    }

    void OnKeyDown(KeyboardEventArgs e) => env?.OnKeyDown(e);

    void OnInput(ChangeEventArgs e) => env?.OnInput(e);

    void Update()
    {
        console!.Update(env!.Input);
    }

}